# .env.example
# SMTP Configuration for Alerts
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=

# --- TYRONE FLEET SERVER CREDENTIALS ---
# Server 1 Credentials
BMC_IP=172.16.11.4
BMC_USERNAME=ADMIN
BMC_PASSWORD=netweb@123
OS_IP=172.16.11.65
OS_USERNAME=core
OS_PASSWORD=netweb@123
OS_SSH_PORT=22
